[submodule "src/submodule/ceres-solver"]
	path = src/submodule/ceres-solver
	url = git@git.moviebook.cn:algorithm/reconstruction3d/ceres-solver.git
[submodule "src/submodule/colmap"]
	path = src/submodule/colmap
	url = http://git.moviebook.cn/algorithm/Reconstruction3D/colmap.git
